rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /walks/{walkId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && 
        (request.auth.uid == resource.data.userId ||
         request.auth.token.email == "rohitsm85@gmail.com");
      allow update: if request.auth != null &&
        request.auth.token.email == "rohitsm85@gmail.com";
    }
  }
}